@import "tailwindcss";

@theme {
  --color-lavender-50: #f6f4fd;
  --color-lavender-100: #eee9fb;
  --color-lavender-200: #ded5f7;
  --color-lavender-300: #c5b6f0;
  --color-lavender-400: #a68ce5;
  --color-lavender-500: #8b65d8;
  --color-lavender-600: #7548c7;
  --color-lavender-700: #623aab;
  --color-lavender-800: #51318b;
  --color-lavender-900: #432b70;
}

body {
  @apply bg-[#f7f6fb] text-slate-800 antialiased;
}
